@model ProjektDT191G.Models.QuoteRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details Quote Request</h1>

<div>
    <h4>Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>
        <dd class="col-sm-10">
            @Model.RequestDate.ToString("yyyy-MM-dd")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsProcessed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsProcessed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lecture)
        </dt>
        <dd class="col-sm-10">
            @(Model.Lecture?.Description ?? "None")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Speaker)
        </dt>
        <dd class="col-sm-10">
            @(Model.Speaker?.Name ?? "None")
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Administrator")) @* Endast admin ska ha åtkomst *@
    {
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.QuoteRequestId">Edit</a>
        <span> | </span>
    }
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>