@model IEnumerable<ProjektDT191G.Models.Lecture>

@{
    ViewData["Title"] = "Index";
}

<h1>Lectures</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a class="btn btn-primary mt-3" asp-action="Create">Create New</a>
    </p>
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td data-label="Name">@Html.DisplayFor(modelItem => item.Name)</td>
                    <td data-label="Description">
                        @if (item.Description?.Length > 100)
                        {
                            @Html.Raw(item.Description.Substring(0, 50) + "...")
                        }
                        else
                        {
                            @Html.Raw(item.Description)
                        }
                    </td>
                    <td data-label="Price">@Html.DisplayFor(modelItem => item.Price)</td>
                    <td data-label="Category">@(item.Category?.Name ?? "Not assigned")</td>
                    <td data-label="Actions">
                        <a class="btn btn-sm btn-outline-success" asp-action="Details"
                            asp-route-id="@item.LectureId">Details</a> 

                        @if (User.IsInRole("Administrator"))
                        {
                            <span> | </span>
                            <a class="btn btn-sm btn-outline-primary" asp-action="Edit" asp-route-id="@item.LectureId">Edit</a>
                            <span> | </span>
                            <a class="btn btn-sm btn-outline-danger" asp-action="Delete"
                                asp-route-id="@item.LectureId">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
